.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  padding: 16px 24px 40px 24px;
  border-radius: 24px;
  border: 3px solid transparent;
  background-color: #fff;
  box-shadow: 0px 1px 32px rgba(174, 172, 243, 0.35);
  position: relative;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  max-width: 256px;
  width: 100%;

  &:hover {
    box-shadow: 0px 8px 24px rgba(55, 83, 107, 0.08);
  }

 &__header {
    display: flex;
    flex-direction: column;
  }

  &--selected {
    border-color: #03050F;
  }

  &__icon { 
    width: 48px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
  }

  &__description {
    font-size: 12px;
    color: #141938;
    font-weight: 400;
    line-height: 1.4;
  }

  &__radio {
    display: flex;
    justify-content: end;
  }

  &__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #fff;
    display: inline-block;
  }

  &__circle--selected {
    border-color: #389E0D;
    background: radial-gradient(circle at center, #389E0D 60%, #fff 41%);
  }
}

@media (max-width: 480px) {
  .card {
    margin: 0 auto;
    gap: 8px;

    &__header {
      margin-bottom: 8px;
    }

    &__block {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    &__icon {
      margin-top: 0;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    &__description {
      margin: 0;
    }
  }
}
