.quote {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 352px;
    width: 100%;
  }

  &__form-group {
    display: flex;
  }

  &__input-group select,
  &__input1 {
    width: 40%;
    padding: 16px 10px;
    font-size: 16px;
    border: 1px solid rgba(94, 100, 136, 0.6);
    border-right: none;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
    height: 56px;

    &.error {
      border-color: red;
      outline: none;
    }
  }

  &__inputContainer1,
  &__inputContainer2 {
    position: relative;
    flex-grow: 1;
  }

  &__label {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 12px;
    color: rgba(94, 100, 136, 1);

    &.error {
      color: red;
    }
  }

  &__input,
  &__input2 {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: 24px 10px 8px 10px;
    border: 1px solid rgba(94, 100, 136, 0.6);
    border-radius: 8px;
    height: 56px;

    &.error {
      border-color: red;
      outline: none;
    }
  }

  &__input2 {
    border-radius: 0 8px 8px 0;
  }

  &__input-border {
    width: 100%;
    padding: 24px 10px 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 352px;

    &.error {
      border-color: red;
      outline: none;
    }
  }

  &__checkbox-group {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 6px;

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      accent-color: #1a1a1a;

      &.error {
        border: 1px solid red;
        outline: none;
      }
    }

    label {
      cursor: pointer !important;
      font-weight: 400;

      &.error {
        color: red;
      }
    }
  }

  &__terms {
    font-size: 12px;
    text-decoration: underline;
    color: #03050F;
    font-weight: 600;
  }

  &__button {
    font-size: 20px;
    padding: 20px 40px;
    background-color: #03050F;
    color: white;
    border: none;
    border-radius: 40px;
    font-weight: 700;
    max-width: 195px;
    cursor: pointer;

    @media (max-width: 640px) {
      font-size: 18px;
    }
  }
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 480px) {
  .quote__form{
    margin-bottom: 16px;
  }

  .quote__button{
    min-width: 100%;
    margin-top: 16px;
  }
}