body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

#root {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  gap: 2rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 0 24px;
    flex-grow: 0;
    align-items: center;
  }
}
